@import '../../styles/variables.module.scss';

.header {
  z-index: 99;
  position: relative;
  background-color: $white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: px-to-rem(16);
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 992px) {
    max-width: 1240px;
    border-bottom-width: 0;
    border-bottom-style: solid;
  }
}

.coverHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapLeft {
  display: flex;
  align-items: center;
  padding: 15px 0;

  @media (max-width: 991.98px) {
    padding: 13.68px 0;
  }

  .logo {
    max-width: 157px;
    vertical-align: middle;
    height: 53.58px;
  }
}

.wrapRight {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.wrapSiteBarLeft {
  display: flex;
  align-items: center;

  .linkSitebar {
    height: 100%;
    color: $line_black;
    padding: 0 10px;
    margin: 0 5px;

    &:hover {
      color: $primary;
    }

    &.selected {
      color: $primary;
    }
  }
}

.wrapSiteBarRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;

  .linkSocial {
    height: 20px;
    margin: 0 5px;
    padding: 0 5px;
    display: flex;
    align-items: center;

    &.linkLinkedin {
      margin-right: 0;
      padding-right: 0;
    }
  }

  .icFB {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .icIns {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  .icLinkedin {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
}

.wrapRightMobile {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .menuSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    width: auto;
    height: auto;
    padding: 10.5px 10px;
    border-radius: 2px;
    cursor: pointer;

    .icLightRowMenu {
      width: 20px;
      height: 20px;
      fill: #fcf5f2;
    }

    .icExit {
      width: 20px;
      height: 20px;
      fill: #fcf5f2;
    }
  }
}
